/*Navigation Bar*/  
.navbar{
            font-family : 'Open Sans';
            background-color : #3F9A93;
            font-size: 1.1em;
            height:55px;
            line-height:50px;
            color:#ffffff;
        }
       
        #top_nav_div{
            margin-left:0%;
            margin-right:0%;
            width:100%;
        }

        .navbar-fixed-top{
            top: 0px;
            border-top-width:0px;
            border-right-width:0px;
            border-bottom-width:0px;
            color:#ffffff;
        }
        
        .navbar-hearder{
            margin-left:4%;
        }

         #top_list {
            color: #ffffff;
            width:100%;
        }

        #navigation-fields{
            min-width:486px;
            width:56%;
        }

        .mg-lt-links{
            margin-left:1%;
        }

        .link-nav-color{
            color:#ffffff!important;
        }

/*Footer*/
 footer{
     background-color:#525252;
     width:auto;
     position:static;
     bottom:0;
     left:0;
 }

    #footer{
        width:100%;
    }

  .footer-header{
      margin-bottom:0px;
  }

  .mg-lt-rt{
      margin-left:4%;
      margin-right:3%;
  }

  .service-list{
      list-style-type:none;
      width:100%;
      text-align:left;
  }

  .main-links{
      line-height:15px;
      vertical-align:top;
      display:inline-block;
      text-align:left;
      width:18%;
      margin-bottom:24px;
      margin-top:10px;
  }

  .link-container{
      font-size:1em;
      font-family:'Open Sans';
      font-weight:bold;
      display:block;
      line-height:30px;
      list-style-type:none;
      text-decoration-style:none;
  }

  .sub-link-container{
      font-size:0.8em;
      font-family:'Open Sans';
      font-weight:bold;
      display:block;
      line-height:30px;
      list-style-type:none;
      text-decoration-style:none;
      margin-left:5px;
  }

  .link-color{
      color:#999;
  }

  .link-color:hover{
      color:#ffffff;
      text-decoration:none;
  }
        

/*Heading for the index page*/
.heading{
           text-align:center;
           font-family:'Open Sans';
           color:#3F9A93; 
           font-weight:700;
       }

/*Underline for heading*/
 .uimg-index{
           text-align:center;
           margin-top:10px;
           margin-bottom:10px;
       }


/*Our services heading*/
 .service-head{
         text-align:center;
           color:#3F9A93; 
           font-family:'Open Sans';
           font-size:3.4em;
           font-weight:700;
           line-height:10px;
           margin-top:70px;
    }

    .uimg-sub{
        text-align:center;
        margin-top:22px;
        margin-bottom:35px;
    }

/*Our services sub pages- Customer-care*/
 .cust-head{
        font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }
    .cust-text{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }
    .cust-subtext{
        font-family:'Open Sans';
           font-size:18px;
           margin-left:14%;
           margin-right:12%;
           text-align:justify;
    }
    .cust-points{
        font-family:'Open Sans';
           font-size:18px;
           margin-left:15%;
           margin-right:12%;
           text-align:justify;
           list-style-type:decimal;
    }

/*Our services sub pages- Direct-reponse*/
.dir-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .dir-text {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align: justify;
        }

        .dir-points {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align: justify;
            list-style-type: decimal;
        }


/*Our services sub pages- Rural BPO*/
        
        .rural-text {
            font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 1%;
            margin-right: 0%;
            text-align: justify;
        }

        .rural-main-pts {
            font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 1%;
            margin-right: 12%;
            text-align: justify;
            list-style-type:initial;
        }

        .rural-main-pts1{
            font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 2%;
            margin-right: 0%;
            text-align: justify;
            list-style-type:decimal;
        }

        .rural-main-pts1-text{
            font-family: 'Open Sans';
            font-size: 1em;
            margin-left:3%;
            margin-right:0%;
            text-align: justify;
        }

        .rural-main-pts2{
             font-family: 'Open Sans';
            font-size: 1em;
            margin-left:3%;
            margin-right:0%;
            text-align: justify;
            list-style-type:initial;
        }


/*Our services sub pages- Marketing*/
        .mark-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .mark-text {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 13%;
            text-align: justify;
        }

        .mark-points {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            margin-bottom:26px;
            text-align: justify;
            list-style-type: decimal;
        }


/*Our services sub pages- Business*/
.busi-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .busi-text {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align: justify;
        }

        .busi-points {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align: justify;
            list-style-type: decimal;
        }

        .busi-points1{
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align: justify;
            list-style-type: initial;
        }


/*Our Services  Page*/
 .oursrv-head{
     font-family:'Open Sans';
           font-size:3.4em;
           font-weight:700;
           line-height:10px;
           margin-top:85px;
           text-align:center;
           color:#3F9A93; 
 }

 .uimg-oursrv{
     text-align:center;
           margin-top:20px;
 }

.oursrv-text {
    font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 0%;
            margin-right: 12%;
            text-align: justify;
}

.oursrv-pts {
   font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 12%;
            margin-right: 0;
            text-align: justify;
            font-weight:600;
            text-decoration:underline;
}

.oursrv-subpts{
    font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 8%;
            text-align: justify;
            list-style:decimal;
}

.oursrv-sub-pts-1 {
    font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 0%;
            margin-right: 5%;
            text-align: justify;
            list-style:lower-alpha;
}

.oursrv-inner-pts {
    font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 0%;
            margin-right: 0%;
            text-align: justify;
            list-style:initial;
}

.oursrv-inner-pts-1 {
    font-family: 'Open Sans';
            font-size: 1em;
            margin-left: 1%;
            margin-right: 0%;
            text-align: justify;
            list-style:disc;
}


/*Careers page*/
.careers-head{
         text-align:center;
           color:#3F9A93; 
           font-family:'Open Sans';
           font-size:3.4em;
           font-weight:700;
           line-height:10px;
           margin-top:85px;
    }

     .uimg-careers{
           text-align:center;
           margin-top:20px;
       }

    .careers-info{
        text-align:center;
           color:#000000; 
           font-family:'Open Sans';
           font-size:1.4em;
           line-height:30px;
           margin-top:2%;
           margin-bottom:2%;
           text-transform:none;
    }


/*News & Updates page*/
.news{
        text-align:center;
           color:#3F9A93; 
           font-family:'Open Sans';
           font-size:3.4em;
           font-weight:700;
           line-height:29px;
           margin-top:85px;
    }

    .uimg-news{
        text-align:center;
        margin-top:20px;
    }

    .mg-fb-tw{
        margin-left:15%;
        margin-right:3%;
        margin-top:2%;
    }


    .fb-page{
        margin-right:3%;
    }



/*Why US page*/
.whyus-head{
         text-align:center;
           color:#3F9A93; 
           font-family:'Open Sans';
           font-size:3.4em;
           font-weight:700;
           line-height:10px;
           margin-top:85px;
    }

  .whyus-text{
      font-family:'Open Sans';
           font-size:1.3em;
           line-height:34px;
           margin-left:12%;
           margin-right:12%;
        text-align:justify;
  }

    .uimg-whyus{
        text-align:center;
        margin-top:22px;
        margin-bottom:35px;
    }


    .pts-whyus{
        margin-left:12%;
        list-style-type:initial;
    }

    .whyus-text2{
        
           font-family:'Open Sans';
           font-size:1.8em;
           line-height:34px;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }
 
      .divider-div-whyus{
    height:216px;
    width: 0.33%;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: rgba(0,0,0,0.2);
       }


  .about-sum{
           text-align:center;
           font-family:'Open Sans';
           font-size:18px;
       }

       .about-sum-text1{
           text-align:justify;
           font-family:'Open Sans';
           font-size:15px;
           list-style-type:decimal;
           line-height:34px;
           margin-left:30%;
       }

       .about-sum-text2{
           text-align:justify;
           font-family:'Open Sans';
           font-size:15px;
       }


/*Your Industry page*/
.bg-color-yourIndy{
        background-color:#4d4d4d;
    }


     .indy-text{
           font-family:'Open Sans';
           font-size:1.3em;
           line-height:34px;
           margin-left:12%;
           margin-right:12%;
          text-align:justify;
          color:#ffffff;
     } 

   .hover-yourIndy:hover{
       background-color:#808080;
       border-bottom:6px solid #00bfff;
   }

    .indy-head-yourIndy{
         text-align:center;
           color:#3F9A93; 
           font-family:'Open Sans';
           font-size:3em;
           font-weight:700;
           line-height:10px;
           margin-top:85px;
    }

    .uimg-yourIndy{
        text-align:center;
        margin-top:20px;
        margin-bottom:20px;
    }

    .indy-points-yourIndy{
           color:#f2f2f2;
           font-family:'Open Sans';
           font-size:1.2em;
           margin-top:2%;
           text-align:center;
           margin-bottom:12px;
           text-decoration:none;
    }


    .mg-bottom-indy{
        margin-bottom:80px;
    }

    .link-yourIndy{
        height:110px;
        
    }


/*Your Industry- Banking & Financial Services*/
 .bank-head{
           font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }

    .bank-text{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .bank-text2{
         font-family:'Open Sans';
           font-size:1.3em;
           margin-left:3%;
           margin-right:0%;
           text-align:justify;
    }

    .bank-subhead{
         font-family:'Open Sans';
           font-size:1.4em;
           margin-left:12%;
           font-weight:600;
           text-align:justify;
    }


/*Your Industry- Insurance*/
.insur-head{
         font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }

    .insur-text{
         font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .insur-subtext{
         font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }


/*Your Industry- Health Administration BPO*/
.health-head{
             font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
         }

         .health-text{
             font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
         }

         .health-subtext{
             font-family:'Open Sans';
           font-size:1.3em;
           margin-left:11%;
           margin-right:11%;
           text-align:justify;
         }


/*Your Industry- Pharmacenticals*/
.phar-head{
         font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }

    .phar-text{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }


/*Your Industry- Manufacturing & Retail*/
.manu-head{
         font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }


    .manu-text{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .manu-subtext{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .manu-subtext2{
        font-family:'Open Sans';
           font-size:1em;
           margin-left:1%;
           margin-right:2%;
           text-align:justify;
    }


/*Your Industry- Media, Entertainment & Communication*/
.media-head{
        font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }

    .media-text{
         font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .media-subtext{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .media-subtext2{
          font-family:'Open Sans';
           font-size:1.3em;
           margin-left:1%;
           margin-right:2%;
           text-align:justify;
    }


/*Your Industry- Utilities BPO*/
.utlility-head{
         font-family:'Open Sans';
           font-size:25px;
           margin-left:13%;
           font-weight:600;
    }

    .utlility-text{
         font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }

    .utlility-subtext{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
            line-height:30px;
    }


/*Your Industry- Network BPO*/
.net-head{
         font-family:'Open Sans';
           font-size:1.8em;
           margin-left:13%;
           font-weight:600;
    }

    .net-text{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }
    
    .net-subtext{
        font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
           text-align:justify;
    }


/*Your Industry- Marketing BPO*/
.market-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .market-text {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align:justify;
        }

        .market-subtext {
            font-family: 'Open Sans';
            font-size: 1.3em;
            margin-left: 12%;
            margin-right: 12%;
            text-align:justify;
        }


/*Your Industry- Shipping & Logistics*/
.ship-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .ship-text{
             font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
        text-align:justify;
        }

        .ship-points-text{
            font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
        text-align:justify;
        }


/*Your Industry- Travel, Logistics & Hospitality*/
.travel-head {
            font-family: 'Open Sans';
            font-size: 1.8em;
            margin-left: 13%;
            font-weight: 600;
        }

        .travel-text{
            font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
        text-align:justify;
        }

        .travel-pts{
            font-family:'Open Sans';
           font-size:1.3em;
           margin-left:12%;
           margin-right:12%;
        text-align:justify;
        list-style-type:initial;
        }

        .travel-table-pts{
             font-family:'Open Sans';
           font-size:1.3em;
           list-style-type:initial;
        }

        .travel-subtext{
            font-family:'Open Sans';
           font-size:1.3em;
           margin-left:13%;
           margin-right:12%;
        text-align:justify;
        }



/*For mobile-Vertical*/
@media (max-width: 480px) and (max-height: 700px)
{
    #navigation-fields{
        border:0px;
        padding-left:86%;
        padding-top:0%;
        background-color:#3F9A93;
    }

    .navbar-hearder{
        margin-left:0%;
    }

    #links-social{
        top:16%;
        margin-right:1px;
    }

    #banner-leeway{
        top:32%;
        padding:0 0 11px 0;
    }

    #name-logo{
        font-size:4em;
        letter-spacing:10px;
    }

    #text-logo{
        font-size:1.3em;
    }

    .leeway-img-width{
        width:74%;
    }

    .link-pts-whyus{
        height:50px;
    }

    #divider-div-whyus{
        height:20px;
    }

    .link-yourIndy{
        height:50px;
    }

    .main-links{
        width:49%;
    }

    .indy-head-yourIndy{
        line-height:42px;
    }

    .news{
        line-height:42px;
    }
 
    .whyus-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }
      
    .pts-whyus{
        margin-left: 3%;
    line-height: normal;
    font-size: 1em;
    }

    .about-sum-text1{
        margin-left: 18%;
    line-height: normal;
    font-size: 1em;
    }

    .about-sum-text2{
        margin-left: 4%;
        margin-right:4%;
    line-height: normal;
    font-size: 1em;
    }

    .cust-head{
        margin-left:6%;
    }

    .cust-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .cust-subtext{
        margin-left:6%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .cust-points{
        margin-left:9%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .dir-head{
        margin-left:6%;
    }

    .dir-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .dir-points{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .rural-head{
        margin-left:6%;
    }

    .rural-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .rural-main-pts{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .rural-main-pts1{
        margin-left:2%;
        margin-right:1%;
        line-height:normal;
        font-size:1em;
    }

    .rural-main-pts1-text{
        font-size:1em;
    }

    .rural-main-pts2{
        margin-left:2%;
        margin-right:0%;
        line-height:normal;
        font-size:1em;
    }

    .mark-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .mark-points{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .busi-head{
        margin-left:6%;
    }

    .busi-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .busi-points{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .busi-points1{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .bank-head{
        margin-left:6%;
    }

    .bank-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .bank-subhead{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .bank-text2{
        margin-left:3%;
        margin-right:0%;
        line-height:normal;
        font-size:1em;
    }

    .insur-head{
        margin-left:6%;
    }

    .insur-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .insur-subtext{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .health-head{
        margin-left:6%;
    }

    .health-text{
       margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .health-subtext{
       margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .phar-head{
        margin-left:6%;
    }

    .phar-text{
       margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .manu-head{
        margin-left:6%;
    }

    .manu-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .manu-subtext{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .manu-subtext2{
        margin-left:0;
        margin-right:0;
        line-height:normal;
        font-size:1em;
    }

    .media-head{
        margin-left:6%;
    }

    .media-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .media-subtext{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .media-subtext2{
        margin-left:0;
        margin-right:0;
        line-height:normal;
        font-size:1em;
    }

    .utlility-head{
        margin-left:6%;
    }

    .utlility-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .utlility-subtext{
         margin-left:0;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .net-head{
        margin-left:6%;
    }

    .net-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .net-subtext{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .market-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .market-subtext{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .ship-head{
        margin-left:6%;
    }

    .ship-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .ship-points-text{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .travel-head{
        margin-left:6%;
    }

    .travel-text{
        margin-left:3%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .travel-pts{
        margin-left:2%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

    .travel-table-pts{
        font-size:1em;
    }

    .travel-subtext{
        margin-left:5%;
        margin-right:3%;
        line-height:normal;
        font-size:1em;
    }

}


@media (max-width: 768px) and (max-height: 1295px) {

    .navbar-hearder {
       margin-left:1%;
    }

    #navigation-fields {
        width:63%;
    }

}